@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video 
{margin: 0;	padding: 0;	border: 0;font-size: 100%;	font: inherit;	vertical-align: baseline; }
*:after, *:before{ box-sizing:border-box;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; }
/* body  */
body{ font:12px/16px noraml Arial, Helvetica, sans-serif; text-align:center; width:100%; height:100%;}
.title{ font-weight:bold; font-size:12pt; color:#52B7ED; text-align:center}
.fix-wrapper{ width:90%; margin:0 auto; position:relative}
.tile-wrap{width: 500px; display:inline-table }
.match-tiles{ list-style:none; padding:0; margin: 0 auto; width:410px }
.match-tiles li{ width:120px; height:120px; overflow:hidden; background:#CCC; display:block; float:left; margin:2px; border:1px #9D9D9D solid; position:relative; z-index:2}
.match-tiles li .inside{width: 100%; height: 100%;  display: block;  -webkit-transform-style: preserve-3d;   transform-style: preserve-3d;   -webkit-transition: .4s ease-in-out;   transition: .4s ease-in-out;   background: white;}
.match-tiles li .front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);	
}
.match-tiles li .front, .match-tiles li .back{ 
    border: 1px solid black;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
}
.match-tiles li .back{ background:url(block.png) no-repeat center center; display:block}
.match-tiles li .front img{ width:100%; height:100%}
.match-tiles li:hover{opacity:.5}   
@-webkit-keyframes matchAnim {
  0% {
    background: #bcffcc;
  }
  100% {
    background: white;
  }
}

@keyframes matchAnim {
  0% {
    background: #bcffcc;
  }
  100% {
    background: white;
  }
}